@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.header {
  display: flex;
  padding: 15px;
  position: absolute;
  width: 100%;
  top: 0;
}

.content {
  text-align: center;
}

.footer {
  display: flex;
  padding: 15px;
  background-color: #eeeeee;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.left-links {
  display: flex;
  margin: 0 auto 0 10px;
  padding: 0;
}

.right-links {
  display: flex;
  margin: 0 10px 0 auto;
  padding: 0;
}

li {
  margin: 0 10px;
}

button {
  padding: 4px 12px;
}

